<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Athletes From WDI-35</h1>
        </div>
      </div>
    <div class="col-md-4 thumbnail" id="athletes"></div>
    <div class="col-md-4 thumbnail" id="teams"></div>
    <div class="col-md-4 thumbnail">
      <div class="col-md-12 athleteMaker">
        <form id="newAthleteForm">
          <div class="form-group">
            <label for="name">Athlete's name</label>
            <input type="text" class="form-control" name="name" placeholder="athlete's name" required>
          </div>
          <div class="form-group">
            <label for="sport">Athlete's sports</label>
            <input type="text" class="form-control" name="sport" placeholder="athlete's sport" required>
          </div>
          <button type="submit" class="btn btn-default">Create athlete</button>
        </form>
      </div>
      <div class="col-md-12 teamMaker">
        <form id="newTeamForm">
          <div class="form-group">
            <label for="name">Team's name</label>
            <input type="text" class="form-control" name="name" placeholder="team's name" required>
          </div>
          <div class="form-group">
            <label for="sport">Team's sports</label>
            <input type="text" class="form-control" name="sport" placeholder="team's sport" required>
          </div>
          <div class="form-group">
            <label for="color1">Team's primary color</label>
            <input type="text" class="form-control" name="color1" placeholder="team's colors" required>
          </div>
          <div class="form-group">
            <label for="color2">Team's secondary color</label>
            <input type="text" class="form-control" name="color2" placeholder="team's colors" required>
          </div>
          <button type="submit" class="btn btn-default">Create team</button>
        </form>
      
    </div>
    </div>
  </body>
</html>
